<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-1 g-0">
  {{ if .Site.Params.skills.enable }}
  <section class="skills-section col py-3">
    <h3 class="text-uppercase resume-section-heading mb-3">{{ i18n "skills" }}</h3>
    {{ range .Site.Params.skills.list }}
    <div class="item">
      <h4 class="item-title">{{ .title }}</h4>
      <ul class="list-unstyled resume-skills-list">
        {{ range .items }}
        <li class="mb-2">{{ with .details }}{{ . | markdownify }}{{ end }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </section>
  {{ end }}
  <div class="col">
    {{ if .Site.Params.education.enable }}
    <section class="education-section py-3">
      <h3 class="text-uppercase resume-section-heading mb-3">{{ i18n "education" }}</h3>
      <ul class="list-unstyled resume-education-list">
        {{ range .Site.Params.education.list }}
        <li class="mb-3">
          <div class="resume-degree font-weight-bold">{{ .degree }}</div>
          <div class="resume-degree-time text-muted">{{ .dates }}</div>
          <div class="resume-degree-org">{{ .university }}</div>
          <div class="resume-degree-org">{{ .city }}</div>
        </li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
    {{ if .Site.Params.languages.enable }}
    <section class="languages-section py-3">
      <h3 class="text-uppercase resume-section-heading mb-3">{{ i18n "languages" }}</h3>
      <ul class="list-unstyled resume-lang-list">
        {{ range .Site.Params.languages.list }}
        <li class="mb-2">{{ .name }} <span class="text-muted">({{ .level }})</span></li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
  </div>
  {{ if .Site.Params.awards.enable }}
  <section class="awards-section col py-3">
    <h3 class="text-uppercase resume-section-heading mb-3">{{ i18n "awards" }}</h3>
    <ul class="list-unstyled resume-awards-list">
      {{ range .Site.Params.awards.list }}
      <li class="mb-3">
        <div class="font-weight-bold">{{ .name }}</div>
        <div class="text-muted">{{ .body }}</div>
        <div class="text-muted">{{ .date }}</div>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
  {{ if .Site.Params.interests.enable }}
  <section class="interests-section col py-3">
    <h3 class="text-uppercase resume-section-heading mb-3">{{ i18n "interests" }}</h3>
    <ul class="list-unstyled resume-interests-list mb-0">
      {{ range .Site.Params.interests.list }}
      <li class="mb-2">{{ .name }}</li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</div>
