{{ if .Site.Params.experience.enable }}
<section class="work-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-3">{{ i18n "experiences" }}</h3>
  {{ range .Site.Params.experience.list }}
  <div class="item">
    <div class="item-heading mb-1">
      <div class="d-flex">
        <h4 class="item-title mb-0">{{ .title }}</h4>
        <div class="item-meta mb-0 ms-auto text-muted">{{ .dates }}</div>
      </div>
      <div class="item-meta">{{ .company }}</div>
    </div>
    <div class="item-content pb-3">
      {{ with .details }}{{ . | markdownify }}{{ end }}
      <!-- <ul class="resume-list">
        {{ range .items }}
        <li>{{ with .details }}{{ . | markdownify }}{{ end }}</li>
        {{ end }}
      </ul> -->
    </div>
  </div>
  {{ end }}
</section>
{{ end }}

{{ if .Site.Params.projects.enable }}
<section class="project-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-3">{{ i18n "projects" }}</h3>
  {{ range .Site.Params.projects.list }}
  <div class="item">
    <div class="item-heading mb-1">
      <h4 class="item-title mb-0">{{ .title }}</h4>
      <div class="item-meta mb-0">{{ .meta }}</div>
    </div>
    <div class="item-content">
      <p>{{ .tagline | markdownify }}</p>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}

{{ if .Site.Params.information.enable }}
<section class="info-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-3">{{ i18n "information" }}</h3>
  {{ range .Site.Params.information.list }}
  <div class="item">
    <div class="item-heading mb-1">
      <h4 class="item-title mb-0">{{ .title }}</h4>
    </div>
    <div class="item-content">
      <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
      <ul class="list-unstyled resume-skills-list">
        {{ range .items }}
        <li class="mb-2">{{ with .details }}{{ . | markdownify }}{{ end }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
