
    <title>{{ .Site.Title }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <link rel="shortcut icon" href="favicon.svg">

    <!-- Theme SCSS -->
    {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "scss/style.scss" . | toCSS (dict "targetPath" "assets/css/style.css"  "outputStyle" "compressed" "enableSourceMap" false) | fingerprint }}
    <link rel="stylesheet" type="text/css"  href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
