<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="main-wrapper">
    <div class="container-xl p-0 py-xl-3">
      <article class="resume-wrapper mx-auto py-4 px-4 px-lg-5 shadow">
        {{ partial "header.html" . }}
        {{ if .Site.Params.summary.enable }}
        {{ partial "summary.html" . }}
        {{ end }}
        <hr>
        <div class="resume-body">
          <div class="row g-0">
            <div class="resume-main col pe-lg-3">
              {{ partial "experience.html" . }}
            </div>
            <hr class="d-inline d-lg-none">
            <aside class="resume-aside col-12 col-lg-3 ps-lg-3">
              {{ partial "aside.html" . }}
            </aside>
          </div>
        </div>
        {{ if .Site.Params.social.enable }}
        {{ partial "social.html" . }}
        {{ end }}
      </article>
    </div>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "scripts.html" . }}
</body>

</html>
